<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-slides pager>
  <ion-slide style="background-color: green">
    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus ipsam labore reiciendis enim cumque cupiditate iusto fugit error optio aperiam. Repudiandae temporibus dolores neque laboriosam itaque provident delectus tempora rem!</h2>
  </ion-slide>

  <ion-slide style="background-color: blue">
    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus ipsam labore reiciendis enim cumque cupiditate iusto fugit error optio aperiam. Repudiandae temporibus dolores neque laboriosam itaque provident delectus tempora rem!</h2>
  </ion-slide>

  <ion-slide style="background-color: red">
    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus ipsam labore reiciendis enim cumque cupiditate iusto fugit error optio aperiam. Repudiandae temporibus dolores neque laboriosam itaque provident delectus tempora rem!</h2>
  </ion-slide>

</ion-slides>
</ion-content>
